.pubgroup {

  smt-img img {
    width: 48px;
  }

  .group-cell-label {
    color: $ks-text-color;
    font-size: 12px;
  }

  [item-left] {
    margin: 8px 8px 8px 0;
  }

  ion-label {
    margin: 0px 8px 0px 0;
  }

  .item {
    padding-left: 8px;
  }

  // 列表中的ion-note
  .item .item-inner {
    font-size: 12px;

  }

  // 头像变小点，不然行高太大
  ion-avatar img {
    min-width: 3.0rem;
    min-height: 3.0rem;
    max-width: 3.0rem;
    max-height: 3.0rem;
    border-radius: 1.5rem;
  }


}
