<ion-header class="send-weibo">
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span showWhen="ios">关闭</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      编辑话题
    </ion-title>
    <ion-buttons end>
      <button *ngIf="isSending">
        <ion-spinner name="dots"></ion-spinner>
      </button>
      <button (click)="sendWeibo()" [hidden]="isSending">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <!-- <ion-item>
      <ion-label floating>标题</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label floating>今天有啥新鲜事？</ion-label>
      <ion-textarea [(ngModel)]="weibo.content"
      (keyup)="autoGrowTextAreaHeight($event)"
      (keydown)="autoGrowTextAreaHeight($event)"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>标签</ion-label>
      <ion-input type="text" [(ngModel)]="weibo.tags"></ion-input>
    </ion-item>
  </ion-list>

  <!-- 图片选择网格 -->
  <ion-grid>
    <ion-row >
      <ion-col right>
        <img [src]="selectedImgs[0]" class="select-img"/>
      </ion-col>
      <ion-col left>
        <img [src]="selectedImgs[1]" class="select-img"/>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col right>
        <img [src]="selectedImgs[2]" class="select-img"/>
      </ion-col>
      <ion-col left>
        <button outline no-roundcorner class="large-btn" (click)="presentActionSheet()" *ngIf="!selectedImgs[3]">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- 选中图片后，展示删除图片按钮 -->
<ion-footer *ngIf="showFooter">
  <ion-toolbar light>
    <ion-buttons end>
      <button >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
