[ks-blue] {
  color: $ks-background-blue;
}

[bold] {
  font-weight: bold;
}

[white] {
  color: #FFFFFF;
}

[pink] {
  color: #FF1493;
}

[ks-default-text]{
  color: $ks-text-color;
}

[ks-background] {
  background-color: $ks-background-color;
}

[margin-top-1px] {
  margin-top: 1px;
}

[margin-top-4px] {
  margin-top: 4px;
}

[margin-top-6px] {
  margin-top: 6px;
}

[margin-right-0] {
  margin-right: 0;
}

[margin-left-0] {
  margin-left: 0;
}

[margin-bottom-10px] {
  margin-bottom: 10px;
}

[padding-2px] {
  padding: 2px;
}

[padding-left-0] {
  padding-left: 0;
}

[padding-right-0] {
  padding-right: 0;
}

[padding-left-6px] {
  padding-left: 6px;
}

[padding-right-6px] {
  padding-right: 6px;
}

.toolbar {
  // min-height: 45px;
}

.home {
  background-color: $ks-background-color;

  a {
    color: $ks-background-blue;
  }
}

.ks-blue {
  color: $ks-background-blue;
}

.whitesmoke-bg {
  background-color: #F5F5F5;
}

.white-bg {
  background-color: #FFFFFF;
}

.primary-color {
  color: #387ef5;
}

.gray-color {
  color: #666666;
}

.margin-top-2px {
  margin-top: 2px;
}

.margin-top-4px {
  margin-top: 4px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-1px {
  padding-top: 1px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.right-angle {
  border-radius: 0;
}

.button-small.tiny {
  padding: 0;
}

// 针对顶部工具栏的按钮图标，大一点
.bar-button.larger {
  font-size: 2.0rem;
}

// 拍照的图标按钮，大一点
.button.large-btn {
  font-size: 2.5rem;
}
// 相应高度调整下
.large-btn.button-icon-only {
  padding: 39px 0;
  margin: 0;
}

// 工具栏右边的按钮右边距离大点
.bar-button-icon-only {
  padding: 0 10px;
}
// 从相册或者拍照得到的图片大小
img.select-img {
  max-width: 80px;
  height: auto;
}

// 统一设置发送loading颜色为白色 @2016/09/14
.spinner-dots circle {
  fill: #fff;
  stroke-width: 0;
}

// 卡片里的图片缩略图高度限制
ion-col img {
  max-height: 100px;
  width: auto;
}

// 修改应用默认的 clear 按钮蓝色
.button-clear {
  color: $ks-background-blue;
}

.action-sheet-icon {
  margin-right: 10px;
}

//
//
//
