<ion-header>
  <ion-toolbar no-border-bottom>
    <!-- <ion-buttons start>
      <button>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>话题</ion-title>
    <ion-buttons end >
      <button class="padding-right-10px larger">
        <!-- <ion-icon name="build"></ion-icon> -->
        <!-- <span class="fa fa-google-wallet"></span> -->
        <i class="fa fa-filter"></i>
      </button>
      <button class="padding-right-10px larger" (click)="openModal()">
        <!-- <i class="fa fa-plus"></i> -->
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-searchbar [(ngModel)]="searchQuery" cancelButtonText="取消" placeholder="今天您想了解点什么"
    (ionInput)="getItems($event)"
    (ionCancel)="onCancel($event)"></ion-searchbar>
  <!-- 推荐话题卡片 -->
  <ion-card class="nogap orange-bg">
    <ion-card-header class="white">
      / 你知道吗？/
    </ion-card-header>
    <ion-card-content>
      最近有个很火的标签。。。叫“在线教育”。。。听说🔥的不行啊。。。
    </ion-card-content>
    <ion-row no-padding>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button outline small light class="right-angle">
          现在添加
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- 话题卡片 -->
  <ion-card class="nogap">
    <ion-card-content (click)="openTopicDetail()">
      生活在社交网络上的人有多累？随手一张照片好忙碌好久修饰，吃饭不好好吃饭，工作不好好<a>#工作#</a>，
      真实的一面从未放在网上过，虽然言辞有些<a>#不客气#</a>，但有些网友确实如此。<a>@#社交</a>
    </ion-card-content>
    <!-- 话题中的图片，最多显示三个 -->
    <ion-row center>
      <ion-col>
        <img src="img/qrcode_100.png" class=" inline"/>
      </ion-col>
      <ion-col>
        <img src="img/qrcode_101.png" class=" inline"/>
      </ion-col>
      <ion-col>
        <img src="img/qrcode_102.png" class=" inline"/>
      </ion-col>
    </ion-row>
    <!-- 话题分类、发布时间 -->
    <ion-row class=" padding-left-10px padding-right-10px tag">
      <ion-col class="ks-blue">企业服务</ion-col>
      <ion-col text-right class="gray-color">3小时前</ion-col>
    </ion-row>
    <!-- 卡片footer按钮，及统计数字 -->
    <ion-row class="padding-top-1px whitesmoke-bg">
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg">
        <button clear small class="tiny">
          <ion-icon name='star'></ion-icon>12
        </button>
      </ion-col>
      <ion-col class="white-bg">
        <button clear small class="tiny">
          <ion-icon name='chatbubbles'></ion-icon>12
        </button>
      </ion-col>
      <ion-col class="white-bg">
        <button clear small class="tiny">
          <ion-icon name='thumbs-up'></ion-icon>10
        </button>
      </ion-col>
      <ion-col class="white-bg">
        <button clear small class="tiny">
          <ion-icon name='thumbs-down'></ion-icon>9
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- 动态卡片 -->
  <ion-card class="nogap" *ngFor="let weibo of weibos">
    <ion-card-content (click)="openTopicDetail()">
      {{weibo.content}}
    </ion-card-content>
    <ion-row center *ngIf="weibo.images.length">
      <ion-col>
        <img src="{{weibo.images[0].link}}" class=" inline" (error)="imgError($event)"/>
      </ion-col>
      <ion-col>
        <img *ngIf="weibo.images.length>1" src="{{weibo.images[1].link}}" class=" inline" (error)="imgError($event)"/>
      </ion-col>
      <ion-col>
        <img *ngIf="weibo.images.length>2" src="{{weibo.images[2].link}}" class=" inline" (error)="imgError($event)"/>
      </ion-col>
    </ion-row>
  </ion-card>


  <!-- <button fab primary fab-bottom fab-right>
    <ion-icon name="add"></ion-icon>
  </button> -->
</ion-content>
