<ion-header>
  <ion-toolbar no-border-bottom>
    <!-- <ion-buttons start>
      <button>
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>话题</ion-title>
    <ion-buttons end >
      <button *ngIf="isSending">
        <ion-spinner name="dots"></ion-spinner>
      </button>
      <button class="padding-right-10px larger" [hidden]="isSending">
        <!-- <ion-icon name="build"></ion-icon> -->
        <!-- <span class="fa fa-google-wallet"></span> -->
        <i class="fa fa-filter"></i>
      </button>
      <button class="padding-right-10px larger" [hidden]="isSending" (click)="openWeiboModal()">
        <!-- <i class="fa fa-plus"></i> -->
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-searchbar [(ngModel)]="searchQuery" cancelButtonText="取消" placeholder="今天您想了解点什么"
    (ionInput)="getItems($event)"
    (ionCancel)="onCancel($event)"></ion-searchbar>
  <!-- 推荐话题卡片 -->
  <ion-card class="nogap orange-bg">
    <ion-card-header class="white">
      / 你知道吗？/
    </ion-card-header>
    <ion-card-content>
      最近有个很火的标签。。。叫“在线教育”。。。听说🔥的不行啊。。。
    </ion-card-content>
    <ion-row no-padding>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button outline small light class="right-angle">
          现在添加
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- 动态卡片 -->
  <ion-card class="nogap" *ngFor="let weibo of weibos" (click)="openTopicDetail(weibo)">
    <ion-card-content>
      {{weibo.content}}
    </ion-card-content>
    <ion-row center *ngIf="weibo.images.length" >
      <ion-col>
        <smt-img src="{{weibo.images[0].link}}" lazy></smt-img>
      </ion-col>
      <ion-col>
        <smt-img *ngIf="weibo.images.length>1" src="{{weibo.images[1].link}}" lazy></smt-img>
      </ion-col>
      <ion-col>
        <smt-img *ngIf="weibo.images.length>2" src="{{weibo.images[2].link}}" lazy></smt-img>
      </ion-col>
    </ion-row>
    <!-- 话题分类、发布时间 -->
    <ion-row class=" padding-left-10px padding-right-10px tag">
      <ion-col class="ks-blue">{{weibo.tags}}</ion-col>
      <ion-col text-right class="gray-color">{{weibo.ctime | relativeTime}}</ion-col>
    </ion-row>
    <!-- 卡片footer按钮，及统计数字 -->
    <ion-row class="padding-top-1px whitesmoke-bg">
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg" right>
        <button clear small class="tiny">
          <ion-icon name='ios-star-outline' ></ion-icon>12
        </button>
      </ion-col>
      <ion-col class="white-bg" right>
        <button clear small class="tiny">
          <ion-icon name='ios-chatbubbles-outline' ></ion-icon>{{weibo.replycount}}
        </button>
      </ion-col>
      <ion-col class="white-bg" right padding-right-0>
        <button clear small class="tiny" margin-right-0>
          <ion-icon name="ios-thumbs-up-outline" ></ion-icon>{{weibo.dig}}
        </button>
      </ion-col>
      <ion-col class="white-bg" padding-left-0>
        <button clear small class="tiny" margin-left-0>
          <ion-icon name="ios-thumbs-down-outline" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>


  <!-- <button fab primary fab-bottom fab-right>
    <ion-icon name="add"></ion-icon>
  </button> -->
</ion-content>
