[ks-blue] {
  color: $ks-background-blue;
}

[white] {
  color: #FFFFFF;
}

[ks-default-text]{
  color: $ks-text-color;
}

[ks-background] {
  background-color: $ks-background-color;
}

[margin-top-1px] {
  margin-top: 1px;
}

[margin-top-4px] {
  margin-top: 4px;
}

[margin-top-6px] {
  margin-top: 6px;
}

[margin-right-0] {
  margin-right: 0;
}

[margin-left-0] {
  margin-left: 0;
}

[no-roundcorner] {
  border-radius: 0;
}

[flex-box] {
  // flexbox
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

[flex-v-center] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  // 垂直居中
  -webkit-box-align: center;
  align-items: center;
}


[padding-2px] {
  padding: 2px;
}

[padding-left-0] {
  padding-left: 0;
}

[padding-right-0] {
  padding-right: 0;
}

[padding-left-6px] {
  padding-left: 6px;
}

[padding-right-6px] {
  padding-right: 6px;
}

[small] {
  font-size: 12px;
}

.toolbar {
  // min-height: 45px;
}

ion-searchbar {
  background: rgba(0, 0, 0, 0.1);
}
ion-card.nogap {
  margin: 0px 0 4px 0;
  width: 100%;
  border-radius: 0;
}

ion-card img.gap {
  padding: 16px 16px 0 16px;
}

ion-card img.inline {
  display: inline;
}

ion-card.orange-bg {
  background: #F18C3A;
  color: #FFFFFF;
}

ion-card ion-card-header.white {
  color: #FFFFFF;
}

ion-card .tag {
  font-size: 1.0rem;
}

.home {
  background-color: $ks-background-color;

  a {
    color: $ks-background-blue;
  }
}

.ks-blue {
  color: $ks-background-blue;
}

// 表格中的列内容居中
ion-row[center] ion-col {
  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  // 水平居中
  -webkit-box-pack:center;
  // 垂直居中
  // -webkit-box-align:center;
  // background-color: #F5F5F5;
}
ion-col[left] {
  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  // 靠左
  -webkit-box-pack:start;
}
ion-col[right] {
  /* Safari, Chrome, and Opera */
  display:-webkit-box;
  // 靠右
  -webkit-box-pack:end;
}

.whitesmoke-bg {
  background-color: #F5F5F5;
}

.white-bg {
  background-color: #FFFFFF;
}

.primary-color {
  color: #387ef5;
}

.gray-color {
  color: #666666;
}

.margin-top-2px {
  margin-top: 2px;
}

.margin-top-4px {
  margin-top: 4px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-1px {
  padding-top: 1px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-right-10px {
  padding-right: 10px;
}

.right-angle {
  border-radius: 0;
}

.button-small.tiny {
  padding: 0;
}

// 针对顶部工具栏的按钮图标，大一点
.bar-button.larger {
  font-size: 2.0rem;
}

// 拍照的图标按钮，大一点
.button.large-btn {
  font-size: 2.5rem;
}
// 相应高度调整下
.large-btn.button-icon-only {
  padding: 39px 0;
  margin: 0;
}

// 工具栏右边的按钮右边距离大点
.bar-button-icon-only {
  padding: 0 10px;
}
// 从相册或者拍照得到的图片大小
img.select-img {
  max-width: 80px;
  height: auto;
}

//
//
//
