<ion-header>

  <ion-navbar>
    <ion-title>创业项目推荐</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="ranking recommend">
    <div class="z-segment">
        <ion-segment [(ngModel)]="rank">
            <ion-segment-button value="rank_A">
                约见次数
            </ion-segment-button>
            <ion-segment-button value="rank_B">
                被访次数
            </ion-segment-button>
            <ion-segment-button value="rank_C">
                SIP测评
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="rank">
        <ion-list *ngSwitchCase="'rank_A'">
            <ion-item class="rank-item" *ngFor="let rank of rankst">
                <div class="rank-detail">
                    <div class="rd-title">
                        <span>{{rank.name}}</span>
                        <ion-badge item-right pink>{{rank.rand}}</ion-badge>
                    </div>
                    <div class="rd-content">
                        <p>{{rank.content}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'rank_B'">
            <ion-item class="rank-item" *ngFor="let rank of ranksx">
                <div class="rank-detail">
                    <div class="rd-title">
                        <span>{{rank.name}}</span>
                        <ion-badge item-right pink>{{rank.rand}}</ion-badge>
                    </div>
                    <div class="rd-content">
                        <p>{{rank.content}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'rank_C'">
            <ion-item class="rank-item" *ngFor="let rank of ranks;let i=index" (click)="openProjectPage(i)">
                <div class="rank-detail">
                    <div class="rd-title">
                        <span>{{rank.name}}</span>
                        <ion-badge item-right pink>{{rank.rand}}</ion-badge>
                    </div>
                    <div class="rd-content">
                        <p>{{rank.content}}</p>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
