.mine {
  .peronal-panel-background {
    background-color: $toolbar-background;
  }
  .button-fab {
    position: inherit;
    background-color: $toolbar-background;
    border: 1px solid white;
    width: 48px;
    height: 48px;
  }

  .button-fab.activated {
    background-color: #FFFFFF;
    color: $ks-text-color; 
  }

  ion-avatar img {
    max-width: 5.6rem;
    max-height: 5.6rem;
    border-radius: 2.8rem;
    border: 2px solid white;
  }
}
