<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-title>
      我的
    </ion-title>
    <ion-buttons end >
      <button class="padding-right-10px larger">
        <!-- <ion-icon name="settings"></ion-icon> -->
        <i class="fa fa-cog"></i>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="mine">

  <ion-grid class="peronal-panel-background" white>
    <ion-row >
      <ion-col right class="padding-right-10px">
        <button fab *ngIf="isLogged"><ion-icon name="star"></ion-icon></button>
      </ion-col>
      <ion-col class="padding-left-10px">
        <button fab *ngIf="isLogged"><ion-icon name="chatbubbles"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col >
        <button fab *ngIf="isLogged"><ion-icon name="heart"></ion-icon></button>
      </ion-col>
      <ion-col >
        <ion-avatar >
          <img [src]="userInfo.middle_face">
        </ion-avatar>
      </ion-col>
      <ion-col >
        <button fab *ngIf="isLogged"><ion-icon name="notifications"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row center *ngIf="isLogged">
      <ion-col ></ion-col>
      <ion-col >投资人</ion-col>
      <ion-col ></ion-col>
    </ion-row>
    <ion-row center margin-bottom-10px *ngIf="isLogged">
      <ion-col ></ion-col>
      <ion-col >
        {{userInfo.fullname}}
        <i class="fa fa-venus" pink *ngIf="userInfo.sex=='female'"></i>
        <i class="fa fa-mars" danger *ngIf="userInfo.sex=='male'"></i>
      </ion-col>
      <ion-col ></ion-col>
    </ion-row>
  </ion-grid>
  <!-- 编辑按钮 -->
  <button round class="write-btn" *ngIf="isLogged" (click)="openEditUser()">
    <ion-icon name="create"></ion-icon>
  </button>
  <!-- 用户简介 -->
  <ion-grid no-padding *ngIf="isLogged">
    <ion-row class="intro-txt">{{userInfo.description}}</ion-row>
    <ion-row margin-bottom-10px>
      <ion-col bold class="left-blue-border">公司名称</ion-col>
      <ion-col text-right class="padding-top-0">
        <button small round class="public">公开</button>
      </ion-col>
    </ion-row>
    <ion-row top-border>
      <ion-col class="company-txt">毕马威企业咨询</ion-col>
    </ion-row>
    <ion-row margin-bottom-10px>
      <ion-col bold class="left-blue-border">技能标签</ion-col>
    </ion-row>
    <ion-row top-border>
      <ion-col>
        <button small outline>数据分析</button>
        <button small outline>项目管理</button>
        <button small outline>咨询</button>
      </ion-col>
    </ion-row>
    <ion-row margin-bottom-10px>
      <ion-col bold class="left-blue-border">联系方式</ion-col>
      <ion-col text-right class="padding-top-0">
        <button small round class="public">公开</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="company-txt">{{userInfo.uname}}</ion-col>
    </ion-row>
  </ion-grid>

  <!-- 非登录状态显示 -->
  <button full no-margin [hidden]="isLogged" (click)="openLogin()">登 录</button>
  <button full no-margin secondary [hidden]="isLogged" (click)="openRegister()">注 册</button>

</ion-content>
