.topic-detail {

}

.topic-detail-header {

  .spinner-dots circle {
    fill: #fff;
    stroke-width: 0;
  }
}

.text-input.white-bg {
  background-color: #FFFFFF;
}

.v-center {
  display:-webkit-box;
  -webkit-box-align:center;
}

.v-right-center {
  display:-webkit-box;
  -webkit-box-pack:end;
  -webkit-box-align:center;
}
