.topic-detail {

  // 列表中的ion-note对齐顶部
  .item .item-inner {
    font-size: 12px;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  .gray {
    color: #aeacb4;
  }

  // 让评论内容边距消失 ，评论作者、内容、时间、按钮都在这里
  ion-label {
    margin: 0;
  }

  ion-grid.no-padding {
    padding: 0;
  }
  // 相对时间字体变小 ios上可以看出差别
  .tag {
    font-size: 1.0rem;
  }

}


// .text-input.white-bg {
//   background-color: #FFFFFF;
// }

// .v-center {
//   display:-webkit-box;
//   -webkit-box-align:center;
// }

// .v-right-center {
//   display:-webkit-box;
//   -webkit-box-pack:end;
//   -webkit-box-align:center;
// }
