<!--
  Generated template for the TopicDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>话题详情</ion-title>
    <ion-buttons end >
      <button class="padding-right-10px larger">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card class="nogap">
    <ion-card-content>
      {{weibo.content}}
    </ion-card-content>
    <!-- 话题中的图片，最多显示三个 -->
    <ion-row center *ngIf="weibo.images.length" (click)="openImgSlides(weibo)">
      <ion-col>
        <smt-img src="{{weibo.images[0].link}}" ></smt-img>
      </ion-col>
      <ion-col>
        <smt-img *ngIf="weibo.images.length>1" src="{{weibo.images[1].link}}" ></smt-img>
      </ion-col>
      <ion-col>
        <smt-img *ngIf="weibo.images.length>2" src="{{weibo.images[2].link}}" ></smt-img>
      </ion-col>
    </ion-row>
    <!-- 话题分类、发布时间 -->
    <!-- 话题分类、发布时间 -->
    <ion-row class=" padding-left-10px padding-right-10px tag">
      <ion-col class="ks-blue">{{weibo.tags}}</ion-col>
      <ion-col text-right class="gray-color">{{weibo.ctime | relativeTime}}</ion-col>
    </ion-row>
    <!-- 卡片footer按钮，及统计数字 -->
    <ion-row class="padding-top-1px whitesmoke-bg">
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg"></ion-col>
      <ion-col class="white-bg" right>
        <button clear small class="tiny">
          <ion-icon name='ios-star-outline'></ion-icon>12
        </button>
      </ion-col>
      <ion-col class="white-bg" right>
        <button clear small class="tiny">
          <ion-icon name='ios-chatbubbles-outline'></ion-icon>{{weibo.replycount}}
        </button>
      </ion-col>
      <ion-col class="white-bg" right padding-right-0>
        <button clear small class="tiny" margin-right-0 (click)="digup()">
          <ion-icon name='{{upIconName}}'></ion-icon>{{weibo.dig}}
        </button>
      </ion-col>
      <ion-col class="white-bg" padding-left-0>
        <button clear small class="tiny" margin-left-0 (click)="digdown()">
          <ion-icon name='{{dnIconName}}'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- 评论列表 -->
  <ion-list>

    <ion-list-header>20条</ion-list-header>

    <ion-item>
      <ion-avatar item-left>
        <img src="img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>Woody</h2>
      <p>This town ain't big enough for the two of us!</p>
      <ion-note item-right>3:43 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="img/avatar-ts-buzz.png">
      </ion-avatar>
      <h2>Buzz Lightyear</h2>
      <p>My eyeballs could have been sucked from their sockets!</p>
      <ion-note item-right>1:12 pm</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="img/avatar-ts-jessie.png">
      </ion-avatar>
      <h2>Jessie</h2>
      <p>Well aren't you just the sweetest space toy I ever did meet!</p>
      <ion-note item-right>10:03 am</ion-note>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="img/avatar-ts-potatohead.png">
      </ion-avatar>
      <h2>Mr. Potato Head</h2>
      <p>You're not turning me into a Mashed Potato.</p>
      <ion-note item-right>5:47 am</ion-note>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer primary>
  <ion-toolbar no-border>
    <ion-input placeholder="发表你的看法" class="white-bg"></ion-input>
    <ion-buttons right>
      <button>
        发言
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
