.topic-detail {

  // 列表中的ion-note对齐顶部
  .item .item-inner {
    font-size: 12px;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

}


.text-input.white-bg {
  background-color: #FFFFFF;
}

.v-center {
  display:-webkit-box;
  -webkit-box-align:center;
}

.v-right-center {
  display:-webkit-box;
  -webkit-box-pack:end;
  -webkit-box-align:center;
}
